img {
  max-height: 200px;
  max-width: 200px;
}

h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#termekLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

body {
  margin: auto;
  max-width: 1000px;
}

* {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.kosar {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

.kosar:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
